<ng-container [formGroup]="this">    
    <div class="row">
        <div class="col-xs-4"><h3>Login</h3></div>            
    </div>
    <div class="row" style="">
        <div class="col-xs-2">UserName</div>
        <div class="col-xs-2"><input size="8" type="text" formControlName="username"></div>            
    </div>
    <div class="row">
        <div class="col-xs-2">Password</div>
        <div class="col-xs-2"><input size="8" type="text" formControlName="password"></div>            
    </div>            
    <div class="row">
        <div class="col-xs-1">
            <button type="button" class="btn btn-primary">Login</button>
        </div>            
    </div>
    
</ng-container>